@page
@model Genisis.Pages.ForgotPasswordModel

<head>
    <link rel="stylesheet" href="~/css/ForgotPasswordStyles.css">
    <script src="~/js/ForgotPasswordScript.js"></script>
</head>

<div class="forgot-password-page">
    <div class="forgot-password-card">
        <div class="forgot-password-inputs">
            <h1 class="forgot-password-welcome">Reset Credentials</h1>

            <label id="userEmailError" class="error-label"></label>
            <input type="text" class="input-info" id="userEmail" placeholder="eric.reyneke@gmail.com" />

            <button type="button" class="submit-button" onclick="SendEmailToReset();">Reset Password</button>
            <label id="errorMessage" class="error-label"></label>

            <a href="/Login" class="login">Login</a>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()