@page
@model Genisis.Pages.ResetPasswordModel

<head>
    <link rel="stylesheet" href="~/css/ResetPasswordStyles.css">
    <script src="~/js/ResetPasswordScript.js"></script>
</head>

<div class="reset-password-page">
    <div class="reset-password-card">
        <div class="reset-password-inputs">
            <h1 class="reset-password-welcome">Retrieve Credentials</h1>

            <label id="newPasswordError" class="error-label"></label>
            <input class="input-info" type="password" id="newPassword" placeholder="New Password" />

            <label id="confirmPasswordError" class="error-label"></label>
            <input class="input-info" type="password" id="confirmPassword" placeholder="Confirm Password" />

            <button type="button" class="submit-button" onclick="ResetUserPassword()">Reset Password</button>
            <label id="errorMessage" class="error-label"></label>

            <a href="/Login" class="login">Login</a>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()